/* layout*/
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
}

/* form */
.product-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 30px;
}

.product-form input,
.product-form textarea,
.product-form select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #cfcfcf;
    outline: none;
    transition: 0.2s;
    font-size: 14px;
}

.product-form input:focus,
.product-form textarea:focus,
.product-form select:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

.product-form button {
    background: #2563eb;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.product-form button:hover {
    background: #1e4ecb;
}

/* error */
.error {
    color: #b91c1c;
    font-size: 14px;
    padding: 5px 0;
}

/*table*/
.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-table th,
.product-table td {
    border: 1px solid #e5e5e5;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

.product-table th {
    background: #f3f4f6;
    font-weight: bold;
}

.product-table tr:nth-child(even) {
    background: #fafafa;
}

.product-table button {
    margin-right: 8px;
    padding: 6px 10px;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.product-table button:first-child {
    background: #3b82f6;
    color: white;
}

.product-table button:first-child:hover {
    background: #2563eb;
}

.product-table button:last-child {
    background: #ef4444;
    color: white;
}

.product-table button:last-child:hover {
    background: #dc2626;
}




/* modal */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.modal-content {
    background: white;
    padding: 25px;
    border-radius: 8px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #ddd;
}

.modal-content h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}